<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/head'); -%>
  <body>
    <%- include('layouts/header'); -%>

    <main>
      <div class="form-container">
        <h2>G Test Booking</h2>

        <form id="gTestForm">
          <section class="personal-info">
            <h3>Personal Information</h3>

            <label for="first-name">First Name:</label>
            <input
              type="text"
              id="first-name"
              name="firstName"
              value="<%= user?.firstName || '' %>"
              readonly
            />

            <label for="last-name">Last Name:</label>
            <input
              type="text"
              id="last-name"
              name="lastName"
              value="<%= user?.lastName || '' %>"
              readonly
              required
            />

            <label for="license-number">License Number:</label>
            <input
              type="text"
              id="license-number"
              name="licenseNumber"
              value="<%= user?.licenseNumber || '' %>"
              maxlength="8"
              readonly
            />

            <label for="age">Age:</label>
            <input
              type="number"
              id="age"
              name="age"
              value="<%= user?.age || '' %>"
              readonly
              required
            />
          </section>

          <section class="car-info">
            <h3>Car Information</h3>

            <label for="make">Make:</label>
            <input
              type="text"
              id="make"
              name="make"
              value="<%= user?.carDetails?.make || '' %>"
              placeholder="e.g., Honda, Toyota..."
              required
            />

            <label for="model">Model:</label>
            <input
              type="text"
              id="model"
              name="model"
              value="<%= user?.carDetails?.model || '' %>"
              placeholder="e.g., Civic, Corolla..."
              required
            />

            <label for="year">Year:</label>
            <input
              type="number"
              id="year"
              name="year"
              value="<%= user?.carDetails?.year || '' %>"
              placeholder="Year of Manufacture"
            />

            <label for="plate-number">Plate Number:</label>
            <input
              type="text"
              id="plate-number"
              name="plateno"
              value="<%= user?.carDetails?.plateno || '' %>"
              maxlength="8"
              placeholder="Plate Number"
              required
            />

            <div id="appoint-det">
              <h1>Book an Appointment</h1>
              <label for="appointment-date">Choose a Date:</label>
              <input type="date" id="appointment-date" class="date-picker" />
              <div id="time-slots" class="time-slots hidden">
                <h2>Available Slots:</h2>
                <div class="slot-buttons" id="slot-buttons"></div>
              </div>
            </div>

            <h3 id="appointment-date"></h3>
            <h3 id="appointment-time"></h3>
          </section>

          <button id="update" type="button">Update & Book G Test</button>
        </form>
      </div>
    </main>

    <%- include('layouts/footer'); -%>

    <script>
      window.userData = <%- JSON.stringify(user) %>
    </script>
    <script src="/js/g_test.js"></script>
  </body>
</html>
